/* Estilo del menú con subrayado */
html {
    min-height: 90vh;
}

body {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5 !important;
}

body > nav {
    flex-shrink: 0;
}

body > footer {
    flex-shrink: 0;
    margin-top: auto;
}

.menu li {
    margin-right: 1% !important;
}

.menu a {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
    text-decoration: none;
    border-bottom: .2rem solid #008cff;
}
  /* Unificar estilos para todos los estados del enlace */
.menu a:link,
.menu a:visited,
.menu a:active {
    color: inherit !important;
    border-bottom: .2rem solid #008cff;
}

.menu a:hover {
    border-bottom-color: #8e0000;
}

/* para seccion poesía */
main.poesia-content {
    white-space: pre-line;
}
